body{
  background-color: #9fec9c;
  padding: 20px;
}
  
.container{
  width: 600px;
  margin: auto;
  background-color: #1e9912;
  padding: 20px;
  border-radius: 8px;
}
button:hover{
    background-color: #217950;
}
li{
  padding: 10px;
  background-color: #f9f9f9;
  border-bottom: 1px solid #ccc;
}